@model XiaoHuLuMvcCore.Models.Explain

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-1.10.2.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<p>
    <a href="javascript:;" onclick="location.href='/explain/create'">Create New</a>
</p>
<table class="table" id="show">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="item in list"  v-bind:key="item.id" >
            <td>{{item.id}}</td>
            <td>{{item.description}}</td>
            <td>{{item.address}}</td>
        </tr>
        <tr v-else>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<script>
    var va = new Vue({
        el: '#show',
        data: {
            list: null,
            flag:1
        },
        mounted: function () {
            axios
                .get("/explain/GetList")
                .then(response => (this.list = response.data))
        },
        methods: {
            create: function () {
                location.href = '/axplain/Create'
            }
        },
    })

</script>
