* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 250px;
    height: 250px;
    margin: 100px auto;
    background-color: #A8A8A8;
    border: 10px solid #A8A8A8;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #A8A8A8;

    position: fixed;
    top: 125px;
    left: 700px;
}

.result {
    width: 250px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background: #EEE685;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 1px #A8A8A8;
    box-shadow: -0.5px -0.5px 0.5px 0.3px #FFF5EE inset;
}

.box {
    width: 250px;
    height: 200px;
    background: #969696;
    position: relative;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    box-shadow: -0.5px -0.5px 0.5px 0.3px #FFF5EE inset;
}

.button {
    width: 40px;
    height: 40px;
    margin: 5px;
    background: white;
    float: left;
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.big {
    width: 90px;
    height: 40px;
}

.spe {
    width: 40px;
    height: 90px;
}

.position {
    position: relative;
    left: 50px;
    background-color: orange;
}

.spe2 {
    position: relative;
    top: -50px;
    line-height: 90px;
}

.orange {
    background-color: orange;
}

.button:hover {
    background-color: rgba(0,0,0,0.6);
}

